rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null
        && request.auth.token.email != null
        && request.auth.token.email == "egotosecond@gmail.com";
    }

    match /rekap/{rekapId} {
      allow read, write: if isAllowedUser();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
